:root {
  --primary-color: #5bb462;
  --primary-dark: #4f9c55;
  --secondary-color: #ffffff;
  --secondary-dark:#e3d002;
  --overlay: rgba(0, 0, 0, 0.562);
  --buttonColor: #000;
  --h-color:  #000;
  --p-color: #787878;;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  padding: 17px 28px;
  font-size: 1.2rem;
  color: var(--buttonColor);
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--overlay);
  cursor: pointer;
  transition: .2s ease-in;
  /* max-width: 200px; */
  width: 300px;
}

.button:hover {
  background-color: var(--buttonColor);
  border: 1px solid var(--buttonColor);
  color: var(--secondary-color);
}

.line {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}
.show_more_room_info{
  position: fixed;
  top: 0%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: 10000;
  transition: .5s ease;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: auto;
}
/* .show_more_room_info::-webkit-scrollbar{
 display: none;
} */
.close-btn{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px !important;
  font-weight: 700 !important;
  background-color: var(--buttonColor);
  color: var(--secondary-color);
  letter-spacing: .5rem;
}
.close-btn:hover{
  color: #787878;
  transition: .3s ease;
}